body{
    background-color: rgb(245, 186, 148);
    color: white;
    font-family: font6; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
}

h1{
    font-weight: 600;
    font-size: 40px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 50px;
    line-height: 10px;
    font-family: 'Times New Roman', Times, serif;
}

span{
    color: rgba(168, 113, 61, 0.966);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 548px;
    justify-content: space-between;
    padding: autopx;
    margin: 10px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    border: 2px solid rgb(161, 119, 42);
    height: 50px;
    width: 50%;
    background-color: aqua;
    color: rgb(34, 36, 161);
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(199, 152, 50);
    color: rgb(74, 216, 31);
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}